@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&display=swap');

body{
    background-color: #fafafa;
    font-family: 'Jost', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 1050px;
    margin-left: calc(50% - 525px);
}
.nav-bar{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}
.logo{
font-weight: 600;
font-size: 30px;
line-height: 36px;
color: #C8C8C8;
}
.main-nav__items{
    display: flex;
    flex-direction: row;
}
.main-nav__items-main{
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D242B;
    margin-left: 330px;
}
.main-nav__items-search{
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D242B;
    margin-left: 43px;
}
.icon-bar{
    display: flex;
    align-items: center;
    margin-left: 341px;
}
.bag{
    margin-left: 30px;
}
.container-head{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    /*background-color: red; */
    display: flex;
    justify-content: space-between;
}
.container-head__text-block{
    margin-top: 70px;
}
.container-head img{
    margin-left: -10px;
    transform: scale(1.3);
}
.container-head__text-block h1{
font-weight: 800;
font-size: 47px;
line-height: 40px;
letter-spacing: 0.01em;
color: #1D242B;
width: 420px;
margin-top: 50px;
}
.container-head__text-block p{
font-weight: 500;
font-size: 26px;
line-height: 28px;
letter-spacing: 0.01em;
color: #1D242B;
margin-top: 50px;
}
.container-head__btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 30px;
width: 230px;
height: 73px;
background: #1D242B;
box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.4);
border-radius: 50px;
font-weight: bold;
font-size: 25px;
line-height: 31px;
letter-spacing: 0.01em;
color: #FAFAFA;
flex: none;
order: 0;
flex-grow: 0;
margin-top: 70px;
}
.container-popular{
    width: 100%;
    height: 1000px;
    margin-top: 30px;

}
.popular-title{
font-weight: bold;
font-size: 40px;
line-height: 34px;
letter-spacing: 0.01em;
text-align: center;
color: #1D242B;
}
.cl{
    display: flex;
    flex-direction: column;
}
.wrapper-popular__item{
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: center;
}
.container-item__1{
background: #FFFFFF;
box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.1);
border-radius: 25px;
width: 270px;
height: 510px;
display: flex;
flex-direction: column;
}
.item__1-text{
    margin-left: 25px;
    padding-bottom: 20px;
}
.item__1-text h1{
font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #1D242B;
}
.item__1-text p{
    font-weight: 500;
font-size: 25px;
line-height: 34px;
/* identical to box height, or 136% */


color: #BABABA;
}
.container-item__2{
    background: #FFFFFF;
box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.1);
border-radius: 25px;
width: 270px;
height: 330px;
display: flex;
flex-direction: column;
margin-top: 40px;
}
.container-item__2 img{
    margin-top: 20px;
}
.item__2-text{
    text-align: right;
    margin-right: 25px;

}
.item_h1 {
    font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #1D242B;
}
.item__2-text h1{
    margin-top: 25px;
}
.item_p{
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #BABABA;
}
.column-item__1 {
    width: 275px;
    height: 600px;
}
.column-item__2 {
    width: 275px;
    height: 900px;
}

.container-item__3{
    background: #FFFFFF;
box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.1);
border-radius: 25px;
width: 310px;
height: 305px;
display: flex;
flex-direction: column;
margin-left: 40px;
}
.container-item__3 img{
    width: 120px;
    height: 170px;
    margin-top: 30px;
    margin-left: 150px;
}
.item__3-text {
   margin-left: 25px;
   margin-top: 10px;
}
.item__4-text{
    display: flex;
    justify-content: center;
}
.container-item__4 img{
    width: 200px;
    height: 200px;
    margin-left: -10px;
}
.container-item__4{
    background: #FFFFFF;
    box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.1);
    border-radius: 25px;
    width: 305px;
    height: 205px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 45px;
}
.container-item__5{
    background: #FFFFFF;
    box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.1);
    border-radius: 25px;
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.container-item__5 img{
  margin-top: 40px;
}
.item__5-text {
    margin-left: 25px;
    margin-top: 10px;
 }
 .container-item__6{
    background: #FFFFFF;
    box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.1);
    border-radius: 25px;
    width: 270px;
    height: 460px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
 }